<header id="header" class="is-warning">
	<div class="container">
	    <a class="is-brand" href="#">
	      <h1 id="main-title" class="title is-2"><strong>Restaurant Reviewer</strong></h1>
	    </a>
	</div>
</header>

{{outlet}}

