<div id="sub-header" class="hero-body">
    <div class="container">
      <h2 class="subtitle">
        Find your flavours
      </h2>
    </div>
</div>

{{#restaurants-list restaurants=model}}
{{/restaurants-list}}

{{outlet}}
